<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
    <th:block th:insert="base :: Bootstrap"></th:block>
</head>
<body>
<div th:replace="base::navbar"></div>

<div class="container" align="center">

    <div class="jumbotro lead text-center">
        <h2>Contact Us</h2>
        <!--        <div class="col-3"></div>-->
        <!--        <div class="col-6">-->
        <div class="card" style="width:400px"  align="center">

            <img class="card-img-top"
                 src= "https://res.cloudinary.com/duqszimh4/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_red,b_rgb:262c35/v1564365436/_1__ek5gni.jpg"
                 alt="Card image" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">Contact Us </h4>
                <p class="card-text"> Call Now or Send us an email</p>
                <a>admin@admin.com </a>
            </div>
        </div>

    </div>
</div>
</div>
</div>
</body>
</html>