<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <th:block th:insert="base :: Bootstrap"></th:block>
</head>
<body>
<div th:replace="base::navbar"></div>
<div class="container">
    <div class="jumbotron lead">
        <h2 th:text="${user.firstName} +' ' +${user.lastName}"></h2>
        User Email:         <td th:text="${user.email}"></td><br/>
        User Name:          <td th:text="${user.username}"></td><br/>

    </div>

</div>
</body>
</html>